body {
  overflow-x: hidden;
}

.backlink {
border:0;
text-align:right;
}
.error {
color:#F00;
text-align:center;
font-weight:bold;
margin:5px 0 15px;
}

form {
  width: 50%;
  margin: auto;
}

img {
  margin: 0 auto;
  padding: inherit;
  padding-bottom: 1em;
}

.jumbotron {
  padding: 20px;
}
