body {
  overflow-x: hidden;
}

h1.page-header.col-md-8 {
  margin-top: 0;
  margin-bottom: 0;
}

h2.page-header:first-of-type {
  margin-top: 20px;
}

h2 small {
  color: #3CAEF5;
}

ul li {
  float:left;
}
section {
  clear: both;
}

.backlink {
border:0;
text-align:right;
}
.error {
color:#F00;
text-align:center;
font-weight:bold;
margin:5px 0 15px;
}

form {
  width: 50%;
  margin: auto;
}

img {
  margin: 0 auto;
  padding: inherit;
  padding-bottom: 1em;
}

.jumbotron {
  padding: 20px;
}
